body { /*Quando eu coloco alguma coisa no Body, significa que vou alterar a página inteira*/
    background-color: black; 
    font-size: 16px; /*A fonte do meu site inteiro é 16 pixel*/
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    width: 1440px;
    background-color: white;
    margin: 0px auto;
}

header {/*a largura ja está sendo herdada da div pai chamada principal*/
    height: 193px;
    background-image: url("../imagens/bck-header.jpg"); /*aqui estamos chamando */
    background-repeat: no-repeat;
    background-size: 101%;
    display: flex;
    justify-content: space-between;
    align-items: end; /*eixo y são o align-items*/
}

#logo {
    padding-top: 13px; /*Isso aqui parou de funcionar porque ele vai priorizar o align-tems do pai(header)*/
    padding-left: 20px;
}

#logo img {
    width: 95%; /*Quando for diminuir a imagem, só colocar a largura ou altura, nunca por largura com a altura*/
}

nav {
    width: 600px;
    height: 100px;
    margin-right: 50px;
    /* background-color: blue; */
}

ul {
    height: 100px;
    list-style-type: none;
    /*Como eu coloco itens de lista um do lado do outro a ul é pai do li, então o pai será quem terá o display flex*/
    display: flex;
    justify-content: space-between;   
    align-items: center; /*para funcionar, precisamos setar uma altura*/
}

ul li {
    padding: 10px 15px;
    background-color: white;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}

ul li a {
    text-decoration: none;
    color: orangered;
    font-weight: 599;
}

ul li a:hover {
    color: black;    
}

/*AQUI COMEÇA O CONTEÚDO DA PÁGINA*/
#meiuca {
    background-color: red;
    margin-top:16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;

}

#primeiro-destaque {
    width: 1000px;
    height: 240px;
    display: flex;
    justify-content: space-between;/*mexe no eixo x*/
    align-items: flex-start; /*mexe no eixo y*/
}

#textos-destaque {
    width: 500px;
}

h1 {
    margin-top: 0px;
}

p {
    color: white;
    /*vou setar o espaço entre linhas*/
    line-height: 20px;
}

section {
    width: 935px;
    height: 400px;
    background-color: white;
    display: flex;/*o flex por padrão organiza em row.*/
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.topico {
    width: 300px;
    display: flex;/*A maneira de como o pai vai organizar os seu filhos*/
    flex-direction: column;/*pega os filhos do tópico que são 3, e organiza em colunas*/
    justify-content: center;/*pega o nosso eixo principal e alinha ao eixo principal que é o colunm (alinhou verticalmente o centro)*/
    background-color: white;
    /*align-items: center; /*alinha horizontalmente*/
}

.topico > h2 {
    color: #282828;
    font-size: 20px;
}

.text-article {
    color: #282828;
}

aside {
   background-color: orange;
    width: 380px;
    display: flex;
    padding: 0px;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.text-aside {
    width: 330px;
}

#btn-orcamento {
    padding: 10px 15px;
    background-color: red;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}

#btn-orcamento:hover {
    background-color: green;
}

aside a { /*é o cara filho de aside*/
    color: white;
    text-decoration: none;
}

footer {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-color: orange;
    color: white;   
}