body {
    background-color: white;
}

#principal {
    background-color: black;
    width: 960px;
}

.campoFutebol {
    background-color: green;
    width: 500px;
    height: 400px;
    margin-left: 230px;
}